

/* Подлючение шрифтов */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  



body {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  /* width: 1200px;
  box-shadow: 0 0 10px black; */
  }



  /* ------------------------------------------Шрифты у всех классов----------------------------------------------------- */
  .navigation {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    text-align: center;
    list-style-type: none;
  }

  .buttons {

    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

  .buttons-big {

    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

  .buttons-big-mailing {

    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .main-description {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .cause {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
  }
  .advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

.advantages-number, .advantage-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

  .main-interested-distribution, .main-distribution-h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .main-interested-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
  }

  .main-distribution-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
  }

  .main-distribution {
    color: #ffffff;
  } 

  .footer-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }

.catalog-filter, .main-inner-hotels {
  color: #ffffff;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small-green {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

.button-detailed {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.hotel-pagination-item {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-total {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.main-inner-distribution-light {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}


/* ------------------------------------------Скрытые элементы----------------------------------------------------- */
.visually-hidden {
  visibility: hidden;
}


 /* ------------------------------------------button----------------------------------------------------- */


  /* ------------------------------------------HEADER----------------------------------------------------- */











/* ------------------------------------------------------MAIN---------------------------------------------------------- */


/* ------------------------------------------------------Блоки списка---------------------------------------------------------- */



/*------------------------------------------------------Убираем маркеры у списков----------------------------------------------------------*/
.navigation-list, .navigation-user, .advantage-list, .town-list-inside, .advantage-list-addition-list, .main-footer-list, .menu-list, .catalog-filter-list, .type-housing-filter-list, .hotel-list, .hotel-star, .hotel-pagination {
  list-style-type: none;
}

/*------------------------------------------------------li 2----------------------------------------------------------*/

/*------------------------------------------------------li 3----------------------------------------------------------*/


/*------------------------------------------------------Заинтересовались?----------------------------------------------------------*/


/*------------------------------------------------------Подпишитесь----------------------------------------------------------*/


/*--------------------------------------------------FOOTER-------------------------------------------------------------*/



/*--------------------------------------------------Каталог-------------------------------------------------------------*/





/*--------------------------------------------------FOOTER-------------------------------------------------------------*/
