/* Подлючение шрифтов */

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.main-header {
    background-color: #F2F2F2;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    box-shadow: 0 0 10px #000000;
}


/* ------Шрифты у всех классов------ */

.navigation {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    list-style-type: none;
}

.buttons {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.buttons-big {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.buttons-big-mailing {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}

.main-description {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.cause {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.advantages-number {
    color: #ffffff;
}

.advantage-text {
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}

.main-distribution-slogan {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.main-interested-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.main-distribution-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
}

.main-distribution {
    color: #ffffff;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.catalog-filter {
    color: #ffffff;
}

.main-inner-hotels {
    color: #ffffff;
}

.button-small {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
}

.button-favorite {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
}

.button-detailed {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.hotel-pagination {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
}

.hotel-pagination-item {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.hotel-total {
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

.main-inner-distribution-light {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.newsletter-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.main-interested-distribution {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.hotel-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-pagination-link {
    color: #FFFFFF;
    text-decoration: none;
}

.pagination-link-current {
    color: #000000;
    text-decoration: none;
}


/* ------Скрытые элементы------- */

.visually-hidden {
    visibility: hidden;
}


/* ----Убираем поддчеркивание и меняем цвет ссылки----- */

.navigation-link {
    color: #000000;
    text-decoration: none;
}


/* ----Графика в CSS---- */

.page-header {
    background-color: #FFFFFF;
}

.welcome {
    background-color: #154f6a;
    background-image: url("/images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main-sedona {
    background-color: #FFFFFF;
}

.advantage-box {
    text-align: center;
}

.blue-box {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.light-blue-box {
    background-color: rgba(131, 179, 211, 0.12);
}

.white-box {
    background-color: #FFFFFF;
}

.shadowy-blue-box {
    background-color: rgba(131, 179, 211, 0.2);
}

.main-interested {
    background-color: #FFFFFF;
    text-align: center;
}

.main-distribution {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

.main-inner-distribution-light {
    background-color: #FFFFFF;
}

.main-footer {
    background-color: #FFFFFF;
}

.main-inner-hotels {
    background-color: #154f6a;
    background-image: url("/images/filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-rating {
    background-color: #F2F2F2;
}


/*------Убираем маркеры у списков---*/

.navigation-list {
    list-style-type: none;
}

.navigation-user {
    list-style-type: none;
}

.advantage-list {
    list-style-type: none;
}

.town-list-inside {
    list-style-type: none;
}

.main-footer-list {
    list-style-type: none;
}

.menu-list {
    list-style-type: none;
}

.catalog-filter-list {
    list-style-type: none;
}

.type-housing-filter-list {
    list-style-type: none;
}

.hotel-list {
    list-style-type: none;
}

.hotel-star {
    list-style-type: none;
}

.hotel-pagination {
    list-style-type: none;
}

.main-inner-infrastructure {
    list-style-type: none;
    border: 0 none;
}


/* ------Убираем рамки с фильра---- */

.type-housing {
    border: 0 none;
}

.catalog-filter-price {
    border: 0 none;
}